.item {
    background-color: dodgerblue;
    width: 40%;
    text-align: left;
    margin: 5px;
    padding: 3px;
    color: white;
}

.item.completed {
    background-color: rgb(98, 159, 219);
    text-decoration: line-through;
    color: grey;
}

button {
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    color: white;
    font-size: 1rem;
    padding: 10px;
}